# Filter Operations

- Filter Operation

- &,|,==

- ~

In [2]:
# Start Pyspark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
# Read the Dataset
df_pyspark = spark.read.csv('test1 copy.csv', header = True, inferSchema = True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         1| 20000|
|   Harsha| 21|         2| 15000|
|  Shubham| 23|         1| 18000|
+---------+---+----------+------+

## Filter Operations

In [4]:
## Salary of the People who has salary less than or equalk to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         1| 20000|
| Harsha| 21|         2| 15000|
|Shubham| 23|         1| 18000|
+-------+---+----------+------+

In [5]:
df_pyspark.filter("Salary<=20000").select(['Name', 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         1| 20000|
| Harsha| 21|         2| 15000|
|Shubham| 23|         1| 18000|
+-------+---+----------+------+

## Multiple Filters

In [12]:
# And Operation
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         1| 20000|
| Harsha| 21|         2| 15000|
|Shubham| 23|         1| 18000|
+-------+---+----------+------+

In [13]:
# Or Operation |
df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         1| 20000|
|   Harsha| 21|         2| 15000|
|  Shubham| 23|         1| 18000|
+---------+---+----------+------+

In [14]:
# Not Operation or Inverse Condition operation
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+