In [21]:
#!pip install pyspark

In [2]:
import pyspark

In [3]:
import pandas as pd

In [6]:
pd.read_csv('test1.csv')

        Name  age
0      Krish   31
1  Sudhanshu   30
2      Sunny   25

In [7]:
# Start a Spark Session first
from pyspark.sql import SparkSession

In [8]:
# Create a Variable and session name Practise
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [10]:
df_pyspark = spark.read.csv('test1.csv')

In [12]:
#df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 25|
+---------+---+

In [16]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head(3)

[Row(Name='Krish', age='31'),
 Row(Name='Sudhanshu', age='30'),
 Row(Name='Sunny', age='25')]

In [20]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)