# We are going to do all these things:

- Pyspark Dataframe

- Reading the Dataset

- Checking the Datatypes of the Coloumn(Schema)

- Selecting Column and Indexing

- Check Describe Option similar to Pandas

- Adding Columns

- Dropping Columns

- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [8]:
# Read the Dataset
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [9]:
# Check the Schemas (like inpandas df.describe)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
## Next way of Reading Dataset
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 25|         4|
+---------+---+----------+

In [13]:
# Check the Schemas (like inpandas df.describe)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
# Check Datatype 
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
# Get Columns Name
df_pyspark.columns

['Name', 'age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=25, Experience=4)]

In [17]:
#Select the Columns
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 25|         4|
+---------+---+----------+

In [18]:
# Picking the Name Column
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [20]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [21]:
# Pick Two Cloumns
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [22]:
df_pyspark['Name']

Column<'Name'>

In [25]:
# Check Datatypes
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [27]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| null|28.666666666666668|7.333333333333333|
| stddev| null|3.2145502536643185|3.055050463303893|
|    min|Krish|                25|                4|
|    max|Sunny|                31|               10|
+-------+-----+------------------+-----------------+

In [30]:
# Adding Columns in Dataframe
df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

DataFrame[Name: string, age: int, Experience: int, Experience After 2 Years: int]

In [31]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 25|         4|
+---------+---+----------+

In [32]:
# Dropping a Column in Dataframe
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [33]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 25|         4|
+---------+---+----------+

In [35]:
# Renaming the Coloumn
df_pyspark = df_pyspark.withColumnRenamed('Name', 'New Named')

In [36]:
df_pyspark.show()

+---------+---+----------+
|New Named|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 25|         4|
+---------+---+----------+